<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
          background-color: grey; 
          justify-content: center;
          color: #0e0c62;
          display: flex;
          
        }
        button {
            background-color: #0e0c62; 
            border-radius: 5px;
            color: azure;   
            height: 50px;
            width: 200px;
            margin-bottom: 25px;
        }
        button:hover {
            background-color: darkgreen;
        }
        h1 {
            color: #0e0c62;
        }
        hr {
            border: 1px dashed black;
            text-decoration: none;
            margin: 10px;
        }
        img {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 30px;
            width: 200px;
        }
        .container {
            background-color: azure;
            border-radius: 5px;
            display: inline-block;
            text-align: center;
            padding: 20px;
            box-shadow: 5px 7px rgba(0, 0, 0, 0.556);
        }
        </style>
        
    <title>1000Pagos cambio de clave</title>
</head>
<body>
    <section class="container">
        
        <h1>¿Olvidaste tu contraseña?</h1>
        <hr>
        <img src="https://1000pagos.com/wp-content/uploads/2020/07/Logo-1000Pagos-Horizontal.png" alt="Img">
        <hr>
        <br>
        <a href={{link}}> <button>Restablecer tu contraseña</button></a>
    
    </section>
    <footer>
       <p>Si, el boton no funciona puede presionar<a href={{link}}> Aqui</a></p> 
    </footer>
</body>
</html>


<!-- <html>
    <h1>Hola AMIGO prueba</h1>
    <p>el Token expira en dos 2h</p>
    <p>Para terminar si registro haga click en el siguiente link</p>
    <a href="${link}">${link}</a>
</html> -->
